<div class="hexagon">
    <div class="hexagon1"></div>
    <div class="hexagon2"><span>@Values[0]</span></div>
    <div class="hexagon3"><span>@Values[1]</span></div>
    <div class="hexagon4"></div>
    <div class="hexagon5"></div>
    <div class="hexagon6"></div>
    <div class="hexagon7"><span>@Values[5]</span></div>
    <div class="hexagon8"></div>
    <div class="hexagon9"><span>@Values[2]</span></div>
    <div class="hexagon10"></div>
    <div class="hexagon11"></div>
    <div class="hexagon12"></div>
    <div class="hexagon13"></div>
    <div class="hexagon14"><span>@Values[4]</span></div>
    <div class="hexagon15"><span>@Values[3]</span></div>
</div>

@code
{
    [Parameter]
    public string[] Values { get; set; } = new string[3];
}
